body {
    font-family: Arial, sans-serif;
    background-color: #FFDAB9;
    margin:0;
}

h1{
    top:0;
    left:0;
    margin: 0;      
    padding: 10px 0; 
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    padding: auto;
    padding-left: 10px;
    padding-right: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;  
    justify-content: flex-end; 
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 8px 12px;
}

nav ul li a:hover {
    background-color: grey;
    border-radius: 5px;
}

.search-box {
    margin-left: 20px;
    border-radius: 2px;
}

.search-box input {
    padding: 5px;
    border: none;
}
.search-box button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 2px;
}

.search-box button:hover {
    background-color:gainsboro;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    
}

.swiper-slide {
    display: flex;                
    justify-content: space-between; 
    width: 50%;
    height: 50%;
    
}

.swiper-slide img {
    width: 100%;   
    height: 450px;         
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
h2{
    text-align: center;
    font-size: 30px;
    width:100%;
}
h2, h3 {
    margin: 0;
    padding: 0;
  }
.container {
    left:15%;
    width: 100%;
    max-width: 70%; 
    text-align: left;
    border-bottom: 1px solid white;
  }
.toggle-header,.content {
  margin: 0;
}
  
  .toggle-header {
    display: flex;
    background-color:rgba(250, 128, 114, 0.856);  
    color: #333;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-align: left; 
  }
  
  .content {
    padding: 0;
    margin-top: 0;
    width: 100%;
    text-align: left;
  }

  .hidden {
    display: none;
  }
  h4{
    font-size: 30px;
    height: auto;
  }
.img-wrapper{
    padding-left: 15%;
    width:70%;
    align-items: stretch;
}
.img-wrapper img {
    width: 50%;
    height: auto;
}

.img-wrapper p {
    width: 50%;
    padding-left: 40px; 
    box-sizing: border-box;
}
.signature-container, .barista-container, .food-container {
    display: flex;
    text-align: left;
}
h4, .signature-container img, .signature-container p ,.barista-container img,.barista-container p,.food-container img,.food-container p{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.0s ease-out, transform 0.3s ease-out;
}

h4.visible, .signature-container img.visible, .signature-container p.visible , .barista-container img.visible, .barista-container p.visible, .food-container img.visible, .food-container p.visible{
    opacity: 1;
    transform: translateY(0);
}


h5{
    color:white;
    font-size: 25px;
}
.address-wrapper {
    padding-left: 12%;
    width:76%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.address-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    margin-top: 5%;
}

.text-container {
    width: 50%;
    margin-left: 5%;
}
.text-container p, .text-container h5 {
    line-height: 0.5; 
}

.text-container p{
    color:white;
}
.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-right: 5%;
}

.image-container img {
    max-width: 95%;
    padding-left: 10%;
    margin-top: 5%;
    padding-bottom: 5%;
}

h6{
    text-align: center;
    color: black;
    font-size: 20px;
}


footer{
    display: flex
    align-items: center;
    background-color :darkgrey;
    padding: 10px;
}


ul{
    display: flex;
    justify-content: center; 
    gap: 1px;
    padding: 10px 0;
    text-decoration: none;
    list-style: none;
    height: 0;

}
ul li a {
    color: black;
    text-decoration: none;
    padding: 8px 12px;
}
ul li a:hover {
    background-color: grey;
}
.tokyo-container {
    font-size: 18px;
}
.address {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.marker {
    width: 16px;
    height: 24px;
    background-color: black;
    border-radius: 50% ;
    position: relative;
    margin-right: 8px;
}
.marker::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
